<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<dom-module id="mi-propiedades">
  <template>
   
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <span>Otra propiedad "[[currentValue]]"</span>
    <h2>fecha [[fechaTrasacion]]</h2>
    <hr>
    <button on-click="cambiarValor">haz click para cambiar el valor (que se reflejara en el atributo)</button>
    <br>
    <paper-input label="escribe algo" value="{{prop1}}"></paper-input>
  <hr>
  <h3>data bindings</h3>
  <a href$="[[url]]">[[url]]</a>
  <paper-input label="Escribe la URL:" value="{{url}}"></paper-input>
  <hr>
  <h3>Observers</h3>
  <p>[[valoracion]]</p>
  <h3>Computed</h3>
  <fieldset>
    <label >primer numero: [[param1]]</label><br>
    <label >primer numero: [[param2]]</label><br>
    <p><strong>La suma es:</strong> [[totalCalculo]]</p>
  </fieldset>
  </template>

  <script>
    /**
     * `mi-propiedades`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiPropiedades extends Polymer.Element {
      static get is() { return 'mi-propiedades'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-propiedades'
          },
          param1: Number,
          param2: Number,
          fechaTrasacion:{
            type: Date,
            value: new Date(),
            readOnly: true,
            reflectToAttribute: true
          },
          currentValue: {
            type: String
          },
          url:{
          type: String
          },
          
          valoracion:{
            type: String,
            notify:true,
            observer:'_valoracionObserver'
          },
          totalCalculo:{
           type: Number,
           value: 0,
           readOnly: true,
           notify: true,
           computed: 'sumaTotalesTransacion(param1,param2)'
         }
       };
     }
     sumaTotalesTransacion(pm1, pm2){
       return pm1+pm2;
     }
     _valoracionObserver(newValue, oldValue){
       if( newValue === undefined ) {
         console.log(" If es igual a true!!");
         console.log("el nuevo valor es: " + newValue);
       } else {
         console.log("oldValue: ", oldValue);
       }
     }
     cambiarValor(){
       this.fechaTransacion = Date.now();
       this.valoracion = Date.now();
     }
   }
   window.customElements.define(MiPropiedades.is, MiPropiedades);
 </script>
</dom-module>