<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-evento-notificacion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Elementos de notificacion
    </h2>
    <fieldset>
      <from action="">
        <legend>formulario</legend>
        <p>
          <label for=""></label>
          <input type="text" name="myinput" id="myinput" value="{{valorEscrito::input}}" placeholder="[[placeHolder]]">
        </p>
        <button type="submit">Enviar a correo</button>
      </from>
    </fieldset>
    <hr><span>valor ingresado: [[valorEscrito]]</span>
  </template>

  <script>
    /**
     * `mi-evento-notificacion`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiEventoNotificacion extends Polymer.Element {
      static get is() { return 'mi-evento-notificacion'; }
      static get properties() {
        return {
          texto: {
            type: String
            
          },
          valorEscrito: {
            type: String,
            notify: true
          },
          placeHolder: {
            type: String,
            value: "Escribe aqui"
            
          },
          required: Boolean,
            
          
        };
      }
      ready(){
        super.ready();
        this.addEventListener("valor-escrito-changed", (e) => {console.log('evento lanzado', e); } );
      }
    }

    window.customElements.define(MiEventoNotificacion.is, MiEventoNotificacion);
  </script>
</dom-module>
