header {
    background-color: orangered;
    border: orangered 1px solid;
    color: white;
    height: 80px;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;

}
nav {
    background-color: yellow;
    border: yellow 1px solid;
    color: teal;
    height: 80px;
    border-radius: 5px;
    display: inherit;
    margin-bottom: 5px;
}
section{
    display: flex;
}
main{
    background-color: green;
    border: green 1px solid;
    color: white;
    border-radius: 10px;
    display: flex;
    width: 750px;
    height: 550px;
    justify-content: center;
    margin-bottom: 5px;
   
    
}
article{
    background-color: aquamarine;
    border: aquamarine 5px solid;
    color: black;
    border-radius: 10px;
    width: 260px;
    height: 200px;
    display: flex;
    margin: 20px;
    margin-top: 250px;
}

aside {

background-color: blue;
    border:blue 1px solid;
    color: white;
    border-radius: 10px;
   margin-left: 10px;
   width: 420px;
   height: 550px;
    display: flex;
    justify-items: left;
    margin-bottom: 5px;
}

footer{
    background-color: aqua;
    border: aqua 1px solid;
    color: white;
    border-radius: 10px;
    display: inherit;

}