<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="employee-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <div>Employee list: </div>
    <dom-repeat items="{{employees}}" as="persona" filter="isEngineer">
    <template>
      <div>First name: <span>{{persona.first}}</span></div>
      
      <div> Age : <span>{{persona.age}}</span></div>
      <div>tipo: <span>{{persona.type}}</span></div>
      <br>
    </template>
  </dom-repeat>
  </template>

  <script>
    /**
     * `employee-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmployeeList extends Polymer.Element {
      static get is() { return 'employee-list'; }
      static get properties() {
        return {
          employees: {
            value(){
              return[
              {first: 'Bob', age:45, type: "ingeniebrio" },
              {first: 'Sally', age: 32, type: "ellic"},
              {first: 'Sam', age: 65, type: "ingeniebrio"},
              {first: 'Salem', age: 14, type: "ellic"},
              {first: 'Boby', age: 54, type: "ingeniebrio"}
              ];
            }
          }
        };
      }
      isEngineer(elemento){
        return elemento.type === "ingeniebrio"
      }
    }

    window.customElements.define(EmployeeList.is, EmployeeList);
  </script>
</dom-module>
