<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-repeat">
  <template>
    <style>
     
    </style>
    <h1> For elementos en arreglos</h1>
    <template is="dom-repeat" as="e" items="{{arregloElementos}}"  sort="miSort" filter="isOlderThan40"  > 
      <h2>Elemento:</h2>
      <div>[[e.name]] - [[e.age]]</div>

      <template is="dom-if" if="{{isMyCuate(e)}}">
        <p>que transa [[e.name]]</p>

      </template>
      <template is="dom-if" if="{{!isMyCuate(e)}}">
          <p>no te conosci [[e.name]]</p>
  
        </template>
    </template>
  </template>

  <script>
   
    class MyRepeat extends Polymer.Element {
      static get is() { return 'my-repeat'; }
      static get properties() {
        return {
          arregloElementos: {
            type: Array,
            value: [
              {name: "Estef", age: 20},
              {name: "yene", age: 45},
              {name: "raul", age: 24},
              {name: "negrito", age: 50}
              ]
          }
        };
      }
      isOlderThan40(item){
        return item.age >= 40;
      }
      miSort(a, b){
        var nameA = a.name.toUpperCase();
        var nameB = b.name.toUpperCase();
        if(nameA > nameB){
          return 1;
        }else if(nameA < nameB){
          return -1;
        }
        return 0;
      }
      isMyCuate(elemento){
        return elemento.name === "yene";
      }
    }

    window.customElements.define(MyRepeat.is, MyRepeat);
  </script>
</dom-module>
